:root {
  /* Основные шрифты */
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;

  /* Основная цветосхема */
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-theme-color: #2196f3;
  --text-white-color: #ffffff;
  --main-bcg-color: #ffffff;
  --no-active-icon-color: #afb1b8;
}

body {
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  padding-top: 80px;
  color: var(--primary-text-color);
  background-color: var(--main-bcg-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding-top {
  padding-top: 0;
}

.section--grey {
  background-color: #f5f4fa;
}

.section__conteiner {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section__title {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Маркеры списков */
.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Ссылки */
.link {
  text-decoration: none;
  color: inherit;
}

/* Картинки */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Для логических заголовков */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;

  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Кнопки */
.button {
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--main-theme-color);
  color: var(--text-white-color);
}

.button__icon--append {
  margin-left: 10px;
}

/* Хеддер */
/* Логотип */
.logo {
  display: inline-block;
  color: var(--main-theme-color);
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__text--light-theme {
  color: var(--text-white-color);
}

.logo__text--dark-theme {
  color: #000000;
}
.footer__logo {
  margin-bottom: 20px;
}
/* Хедер */
.header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #ececec;
  background-color: var(--main-bcg-color);
}

.header__conteiner {
  display: flex;
  align-items: center;

  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Навигация */
.page-nav {
  display: flex;
  align-items: center;
}

.page-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-left: 93px;
}

.page-nav {
  display: flex;
}

.page-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.page-nav__link--current {
  position: relative;
  color: var(--main-theme-color);
}

.page-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--main-theme-color);
  border-radius: 2px;
}
.header__contacts {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.page-nav__item:not(:first-child),
.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav__link:hover,
.page-nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--main-theme-color);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--main-theme-color);
}

/* Главная страница */
/* Банер */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-Img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 700px;
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--text-white-color);
  background-color: var(--main-theme-color);
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Особенности */
.qualities {
  display: flex;
  justify-content: stretch;
  letter-spacing: 0.03em;
padding: 0;
margin: 0;
list-style-type: none;
}

.qualities__item {
  min-width: 270px;
}

.qualities__wrapper {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.qualities__item:not(:last-child) {
  margin-right: 30px;
}

.qualities__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Чем мы занимаемся */
.business {
  display: flex;
  justify-content: space-between;
padding: 0;
margin: 0;
list-style-type: none;
}

.business__item {
  position: relative;
}

.business__item:not(:first-child) {
  margin-left: 30px;
}

.business__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.business__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.business__title {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

/* Наша команда */
.card-set{
  display: flex;
  justify-content: center;

padding: 0;
margin: 0;
list-style-type: none;
}

.team-card {
  background-color: var(--main-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-card__discription {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-card__name {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: inherit;
  line-height: inherit;
  color: var(--secondary-text-color);
  font-weight: 500;
}

.team-card__positions {
    margin-top: 0;
    margin-bottom: 0;
}

.team-card:not(:first-child) {
  margin-left: 30px;
}

.comunity {
  display: flex;
  justify-content: center; 
  padding: 0;
  margin: 0;
  margin-top: 16px;
  list-style-type: none;
}

.comunity__item:not(:last-child) {
  margin-right: 10px;
}

.comunity__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--main-bcg-color);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
  color: inherit;
}

.comunity__icon {
  fill: var(--no-active-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comunity__link:hover,
.comunity__link:focus {
  background-color: var(--main-theme-color);
}

.comunity__link:hover .comunity__icon,
.comunity__link:focus .comunity__icon {
  fill: var(--text-white-color);
}

/* Клиенты */
.client {
  width: 170px;
  height: 92px;
}

.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  text-decoration: none;
  color: inherit;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.client__logo {
  fill: var(--no-active-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
  border-color: var(--main-theme-color);
}

.client__link:hover .client__logo,
.client__link:focus .client__logo {
  fill: var(--main-theme-color);
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__conteiner {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  }

.footer__contacts{
  flex-grow: 1;
}

.address__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__map-link {
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--text-white-color);

text-decoration: none;
}

.adress__link {
  font-style: normal;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
  }

.adress__link:hover,
.adress__link:focus {
  color: var(--main-theme-color);
}

.footer__socials {
  margin-left: 70px;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.footer__link {
  --main-bcg-color: rgba(255, 255, 255, 0.1);
  background-color: var(--main-bcg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon {
  fill: var(--text-white-color);
}

/* Подписка */
.subscription {
  margin-left: 93px;
}

.subscription__title {
  font-weight: 700;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bcg-color);
}
.subscription__form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.subscription__input {
  font-size: 16px;
  line-height: 1.25;
  padding-left: 15px;
  align-items: center;
  width: 358px;
  height: 50px;
  color: var(--text-white-color);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background-color: var(--main-theme-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #188ce8;
}

/* Модальное окно */
.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal.is-hidden .modal-box {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--main-bcg-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  background: var(--main-bcg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-vector {
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background: var(--main-bcg-color);
}

.modal-close-button:hover .icon-vector,
.modal-close-button:focus .icon-vector {
  fill: var(--main-theme-color);
}
.modal-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  margin-bottom: 10px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
}

.form-field-input {
  position: relative;
}

.form-field input {
  width: 100%;
  height: 40px;
  align-items: center;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contact-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form textarea[name='comment'] {
  display: block;
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 12px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form textarea[name='comment']::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field.comment {
  margin-bottom: 0;
}

.form-field:focus-within input,
.form-field:focus-within textarea {
  border: 1px solid var(--main-theme-color);
}

.form-field:focus-within .modal-contact-icon {
  fill: var(--main-theme-color);
}

.policy-checkbox-wrapper {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-checkbox-icon {
  margin-right: 4px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .modal-checkbox-icon {
  box-shadow: 0 0 0 2px var(--main-theme-color);
}

.checkbox:checked:focus + .modal-checkbox-icon {
  box-shadow: 0 0 0 2px var(--secondary-text-color);
}

.checkbox:checked + .modal-checkbox-icon {
  border-color: var(--main-theme-color);
  background-color: var(--main-theme-color);
  background-image: url(../images/icon-checked.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy-checkbox-wrapper label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-link {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--main-theme-color);
}

.send-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.modal-send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-white-color);
  background-color: var(--main-theme-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-send-button:hover,
.modal-send-button:focus {
  background-color: #188ce8;
}

/* Страница Портфолио */
/* Фильтр */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Галерея проектов */
.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--main-bcg-color);
}

.project-discription {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
.project-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.project-img-box {
  position: relative;
  overflow: hidden;
}

.project-discription p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project-hover-discription {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-hover-discription p {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--text-white-color);
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-hover-discription,
.project-link:focus .project-hover-discription {
  transform: translateY(0);
}
