.comunity-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.comunity-set__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $color-bcg-main;
    text-align: center;
    transition: background-color $transition-main;

    &:hover,
    &:focus {
        background-color: $color-theme-main;
    }
}

.comunity-set__link--gray {
    background-color: $color-icon-footer;
    transition: background-color $transition-main;
}

.comunity-set__icon {
    fill: $color-icon-no-active;
    transition: fill $transition-main;

    .comunity-set__link:hover &,
    .comunity-set__link:focus & {
        fill: $color-text-white;
    }
}

.comunity-set__icon--white {
    fill: $color-text-white;
}